spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  jmx:
    enabled: false
  datasource:
    url: jdbc:mysql://localhost:3306/baserent?createDatabaseIfNotExist=true&serverTimezone=UTC&allowPublicKeyRetrieval=true&sslMode=DISABLED
    #url: jdbc:mysql://localhost:3306/baserent?allowPublicKeyRetrieval=true&sslMode=DISABLED
    username: root
    password: root

server:
  port: 0